   * {
       margin: 0;
       padding: 0;
   }
header,
footer {
    width: 100%;
    height: 120px;
    background-color: turquoise;
    color: black
}
h1,
h2 {
    text-align: center
}
img {
    display: block;
    height: 80px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
ul {
    padding-left: 40px;
    font-size: 20px;
}
p {
  text-align: center;
  font-size: 65px 
}
.card {
    width: 50%;
    margin: 40px auto;
    border: 4px solid darkslategray;
    box-shadow: 11px 10px #46a59a;
    background-color: ivory
}
.stripe {
    background-color: #46a59a;
    color: rgb(240, 240, 221)
     }
